* {
  box-sizing: border-box;
}

:root {
  --darkBlue: #161b22;
}

body {
  margin: 0;
  background: #f9fafb;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
}

@media screen and (min-width: 850px) {
  .container {
    padding-left: 7%;
    padding-right: 7%;
  }
}
